<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="./controller/api.js"></script>
    <script type="text/javascript" src="./controller/chat.js"></script>
    <link rel="stylesheet" href="../style/logo.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Chat</title>
    <style>
      .table-responsive,
      .sticky-top {
        max-height: 88vh;
        overflow: auto;
      }
      .lastMess-2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 260px;
      }
      .table-responsive2 {
        max-height: 300px;
        overflow: auto;

      }
      .avatar {
        vertical-align: middle;
        width: 70px;
        height: 70px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
      }
      .avatar2 {
        vertical-align: middle;
        width: 70px;
        height: 70px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
      }
      .avatar3 {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
      }
      .avatar4 {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
      }
      .triangle-obtuse {
      position:relative;
      padding:15px;
      color:rgb(0, 0, 0);
      background:#f0f0f0;
      /* css3 */
      background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
      background:-moz-linear-gradient(#f0f0f0, #ffffff);
      background:-o-linear-gradient(#f0f0f0, #ffffff);
      background:linear-gradient(#f0f0f0, #ffffff);
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
}
.triangle-obtuse.right {
  margin-right:50px;
  background:#f0f0f0;
}
.triangle-obtuse.left {
  margin-left:50px;
  background:#24C0A1;
  color:white;
}
.imgUpload:hover{
  color:#24C0A1;
}
.delete{
    color: red;
    display: none;
}
.messenger:hover .delete {
   display:block  
}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <script type="text/javascript" src="./controller/newmess.js"></script>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tin nhắn mới</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" id="modalBody">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2">Đến:</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></div>
                <div class="panel-body table-responsive">
                  <table class="table" id="tableFriendsMD">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên tài khoản</th>
                        <th scope="col">Lựa chọn</th>
                      </tr>
                    </thead>
                    <tbody id="tableFriendsBodyMD"></tbody>
                  </table>
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2">Nội dung tin nhắn:</h6>
                  <input
                    type="text"
                    class="form-control"
                    id="newMess"
                    name="newMess"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Đóng
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="return sendNewMess()"
                data-bs-dismiss="modal"
              >
                Gửi
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
      class="modal fade"
      id="infoChatModal"
      tabindex="-1"
      aria-labelledby="infoChatModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoChatModalLabel">Thông tin phòng chat</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modalBody">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " id = "infoChatNameHeader">
               <form class="input-group">
                <input
                type="text"
                class="form-control"
                id="infoChatName"
                name="infoChatName"
                />
                <button
                type="button"
                class="btn btn-primary"
                onclick=""
                data-bs-dismiss="modal"
                >
                Lưu
              </button>
               </form>
                
              </div>
            </div>
           
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2">Thành viên:</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></div>
              <div class="panel-body table-responsive2">
                <table class="table" id="tableMemberMD">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody id="tableMemberBodyMD"></tbody>
                </table>
              </div>
            </div>
            
          </div>
         
          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          
            >
            Rời khỏi phòng
            </button>
            <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            style = "margin-right: auto;"
            >
            Xóa phòng
          </button>
          
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
            
          </div>
        </div>
      </div>
    </div>
    <div
    class="modal fade"
    id="listAddRoomModal"
    tabindex="-1"
    aria-labelledby="listAddRoomModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listAddRoomModalLabel">Thêm người dùng vào phòng</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="modalBody">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " id = "listAddRoomHeader">
            
              
            </div>
          </div>
         
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2">Chọn bạn:</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></div>
            <div class="panel-body table-responsive2">
              <table class="table" id="tableListAddMD">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="tableListAddBodyMD"></tbody>
              </table>
            </div>
          </div>
          
        </div>
       
        <div class="modal-footer">
   
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          
        </div>
      </div>
    </div>
  </div>
    <div
    class="modal fade"
    id="infoAnotherModal"
    tabindex="-1"
    aria-labelledby="infoAnotherModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoAnotherModalLabel">Thông tin người dùng</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="modalBody">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " id = "infoAnotherNameHeader">
              <img
              src=""
              alt="Avatar"
              class="avatar4"
              id="avatarInfo"
              name="avatarInfo"
            />
              <br />
              <br>
              <p>
                <label class="fw-bold">Tên: &emsp;</label
                ><label id="nameInfo"></label>
              </p>
              <p>
                <label class="fw-bold">Tài khoản: &emsp;</label
                ><label id="usernameInfo"></label>
              </p>

              <p>
                <label class="fw-bold">Giới tính: &emsp;</label
                ><label id="gennderInfo"></label>
              </p>
              <p>
                <label class="fw-bold">Ngày sinh: &emsp;</label
                ><label id="birthDayInfo"></label>
              </p>
              <p>
                <label class="fw-bold">Email: &emsp;</label
                ><label id="emailInfo"></label>
              </p>
              
            </div>
          </div>
         
        
          
        </div>
       
        <div class="modal-footer" id = "btnThemBan">
          <button 
         
          type="button"
          class="btn btn-primary"
         
          >
          Thêm bạn
          </button>
        
       
          
        </div>
      </div>
    </div>
  </div>




      <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
          <div
            class="
              d-flex
              flex-sm-column flex-row flex-nowrap
              bg-light
              align-items-center
              sticky-top
            "
          >
            <a
              href="/"
              class="d-block p-3 link-dark text-decoration-none"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Icon-only"
            >
            <img  src="./asset/image/Logo.png" alt="Trang chủ" name="logo" class="logo">

            </a>
            <ul
              class="
                nav nav-pills nav-flush
                flex-sm-column flex-row flex-nowrap
                mb-auto
                mx-auto
                text-center
                justify-content-between
                w-100
                px-3
                align-items-center
                
              "
            >
              <li class="nav-item">
                <a
                  href="/"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Home"
                >
                  <i class="bi-house fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="/chat"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Room"
                >
                  <i class="bi-chat fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  onclick="return getStater()"
                >
                  <i class="bi-plus-circle fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="/nguoidung"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="User"
                >
                  <i class="bi-person-circle fs-1"></i>
                  
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Signout"
                  onclick="dangXuat()"
                >
                  <i class="bi-chevron-double-left fs-1"></i>
                 
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm min-vh-100">
          <div class="row">
            <div
              class="
                col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12
                min-vh-100
                border
              "
            >
            <br>
            <h4><form onsubmit="" style="height: 35px;" >
              <div class="input-group" >
                <a
                  href="#"
                  title=""
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  onclick="return getStater()" 
                  class="iconHV" 
                  >
                  <i class="bi bi-pencil-square fs-4"></i>
                </a>
                &nbsp
                &nbsp
                <input type = "input" id="searchRoomInput" class="form-control rounded" placeholder="Tìm kiếm phòng chat" style="height: 35px;">
              
              </div>
            </form></h4>
              <hr />
              <div class="panel-body table-responsive">
                <table class="table" id="tableRoomChat">
                  <thead>
                 
                  </thead>
                  <tr>
                    
                    
                  </tr>
                  <tbody id="tableRoom"></tbody>
                </table>
              </div>
            </div>

            <div
              class="
                col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12
                min-vh-100
                border
              "
            >
            
              <form onsubmit="" style="height: 35px;" >
                <div class="input-group" >
                  <h4 id="roomName"></h4>
                  <a
                    href="#"
                    title=""
                    data-bs-toggle="modal"
                    data-bs-target="#listAddRoomModal"
                    onclick="return getStaterForAddMember()" 
                    class="iconHV" 
                    style="margin-left: auto;"
                    id = "iconAddHV"
                    >
                    <i class="bi bi-person-plus-fill fs-4"></i>
                  </a>
                  <a
                    href="#"
                    title=""
                    data-bs-toggle="modal"
                    data-bs-target="#infoChatModal"
                    onclick="return getStaterForInfoChat()" 
                    class="iconHV" 
                    style="padding-left: 20px;"
                    >
                    <i class="bi bi-info-circle fs-4"></i>
                  </a>
                  
                </div>
              </form>
              <hr />
              <div
                class="panel-body table-responsive h-100"
                id="myMessageContainer"
              >
                <table class="table" id="tableChat"  onclick="daXem()">
                  <tbody id="tableChatbox">
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <form onsubmit="return sendMess()" autocomplete="off">
                      <div class="input-group">
                      
                        <input  class="bi  bi-play-circle fs-4 imgUpload"  id="videoUpload"  name = "videoUpload" type="file" style="width:24px;"  accept="video/*"/>
                        &nbsp
                        &nbsp
                        <input  class="bi bi-file-image fs-4 imgUpload"  id="imageUpload"  name = "imageUpload" type="file" style="width:24px;"  accept="image/*"/>
                       
                        &nbsp
                      
                        
                        &nbsp
                        <input
                          type="text"
                          id="messArea"
                          name="messArea"
                          value=""
                          placeholder="Nhập văn bản và nhấn phím Enter để gửi..."
                          class="form-control"
                          onclick="daXem()"
                        />
                        &nbsp
                        <span class="input-group-btn">
                          <input
                            type="submit"
                            name="commit"
                            value="Gửi"
                            class="btn btn-primary "
                            data-disable-with="Gửi"
                          />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
