<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    
    <script type="text/javascript" src="./controller/api.js"></script>
    <script type="text/javascript" src="./controller/trangchu.js"></script>
    <link rel="stylesheet" href="../style/logo.css" />

    
    <title>Trang Chủ</title>
    <style>
      .table-responsive {
        max-height: 300px;
      }
    </style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body >
    <div class="container-fluid">
      <script type="text/javascript" src="./controller/newmess.js"></script>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tin nhắn mới</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" id="modalBody">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2">Đến:</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></div>
                <div class="panel-body table-responsive">
                  <table class="table" id="tableFriendsMD">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên tài khoản</th>
                        <th scope="col">Lựa chọn</th>
                      </tr>
                    </thead>
                    <tbody id="tableFriendsBodyMD"></tbody>
                  </table>
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2">Nội dung tin nhắn:</h6>
                  <input
                    type="text"
                    class="form-control"
                    id="newMess"
                    name="newMess"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Đóng
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="return sendNewMess()"
                data-bs-dismiss="modal"
              >
                Gửi
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
          <div
            class="
              d-flex
              flex-sm-column flex-row flex-nowrap
              bg-light
              align-items-center
              sticky-top
            "
          >
            <a
              href="/"
              class="d-block p-3 link-dark text-decoration-none"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Icon-only"
            >
            <img  src="./asset/image/Logo.png" alt="Trang chủ" name="logo" class="logo">

            </a>
            <ul
              class="
                nav nav-pills nav-flush
                flex-sm-column flex-row flex-nowrap
                mb-auto
                mx-auto
                text-center
                justify-content-between
                w-100
                px-3
                align-items-center
                
              "
            >
              <li class="nav-item">
                <a
                  href="/"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Home"
                >
                  <i class="bi-house fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="/chat"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Room"
                >
                  <i class="bi-chat fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  onclick="return getStater()"
                >
                  <i class="bi-plus-circle fs-1"></i>
                 
                </a>
              </li>
              <li>
                <a
                  href="/nguoidung"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="User"
                >
                  <i class="bi-person-circle fs-1"></i>
                  
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link py-3 px-2 iconHV"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Signout"
                  onclick="dangXuat()"
                >
                  <i class="bi-chevron-double-left fs-1"></i>
                 
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div style="height:100%; color:white; background:  linear-gradient(to bottom right,#98D0B9 20%,#006241);" class="col-sm p-3 min-vh-100">
          <!-- content -->
          <p style="font-size: 18px; text-align: right;">Xin chào, <i id="welcome"></i></p>
         
          <hr>
    

          <div class="container col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"><img style="margin-left: 70px;" src="./asset/image/pngwing.com.png" height="400px" width="400px"></div>
        
        
          <div style=" padding-left: 180px; padding-top: 40px;" class="col-sm-7 col-md-7 col-lg-7 col-xs-7">
           <h1 style="margin-left: 30px; margin-bottom: 20px;">Web chat MegaTalk</h1>
          
            
            <p> Chào mừng bạn đã đến với nền tảng chat trực tuyến Megatalk.
              <br>
              <i class="fa fa-check" aria-hidden="true"></i> Kết nối mọi người
              <br>
              <i class="fa fa-check" aria-hidden="true"></i> Trao đổi công việc
              <br>
              <i class="fa fa-check" aria-hidden="true"></i> Dễ dàng sử dụng
              <br>
              <i class="fa fa-check" aria-hidden="true"></i> Bảo mật
          </p>
        
          <br>
          <br>
          <br>
          <a style= "font-size: 31px; color: white; text-align: center;text-decoration: none; " href="/nguoidung"><i class="fa fa-users" aria-hidden="true"></i> Bắt đầu tìm kiếm bạn bè</a>
        
        </div>
        

    

       
          </div>

          </div>

       
          <br>
       <div  style="color: white; margin-top: 100px;" class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <hr>
        <br>
        <p style="text-align: center;">Copyright © 2021 FIT IUH - Nhóm 25
        </p>
        <p style="text-align: center;">Môn: Công nghệ mới trong phát triển ứng dụng CNTT
        
        
        
        </p>
        </div>
          
        </div>
        
      </div>
    </div>
    
  </body>
</html>
